[user]
	email = mivanov@mirantis.com
	name = Mikhail Ivanov
[core]
	excludesfile = ~/.gitignore_global
[pager]
    diff = diff-so-fancy | less --tabs=4 -RFX
[alias]
  graph = log --pretty=oneline -n 20 --graph --abbrev-commit
  contributors = shortlog --summary --numbered
[color]
  ui = true
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "gh:"
  pushInsteadOf = "git://github.com/"
